.profile__avatar {
  cursor: url('/src/images/cursor.svg'), pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin-right: 0;
  }
}